@using MahjongDkStatsCalculators
@using MahjongDkStats.CLI
<!DOCTYPE html>
<html lang="en">
<Header />
<body>
	<h1>Mahjong Danmark - Statistics</h1>
	<p class="right">@NewestGameDate</p>
	<h2 id="mcr">MCR</h2>
	<h3>Records</h3>
	<table>
		@foreach (var stat in Stats.McrStatistics)
		{
			<tr>
				<td>@stat.Title</td>
				<td>@stat.Value</td>
			</tr>
		}
	</table>

	<h3>Rating List<sup><dfn class="helptext" title="Players are included if they have a game played within the last 12 months.">&nbsp;?</dfn></sup></h3>
	<table class="sortable">
		<thead>
			<tr>
				<th aria-sort="ascending">#</th>
				<th>Name</th>
				<th>Rating</th>
				<th>Games</th>
			</tr>
		</thead>
		<tbody>
		@foreach (var entry in Stats.McrRatingList)
		{
			<tr>
				<td>@entry.Position</td>
				<td><a href='@Helpers.CreatePlayerUrl(entry.Name)'>@entry.Name</a></td>
				<td data-sort="@Helpers.RemoveDecimalMarker(entry.Rating)">@entry.Rating</td>
				<td>@entry.GamesPlayed</td>
			</tr>
		}
		</tbody>
	</table>

	<h2 id="riichi">Riichi</h2>
	<h3>Records</h3>
	<table>
		@foreach (var stat in Stats.RiichiStatistics)
		{
			<tr>
				<td>@stat.Title</td>
				<td>@stat.Value</td>
			</tr>
		}
	</table>

	<h3>Rating List<sup><dfn class="helptext" title="Players are included if they have a game played within the last 12 months.">&nbsp;?</dfn></sup></h3>
	<table class="sortable">
		<thead>
			<tr>
				<th aria-sort="ascending">#</th>
				<th>Name</th>
				<th>Rating</th>
				<th>Games</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var entry in Stats.RiichiRatingList)
			{
				<tr>
					<td>@entry.Position</td>
					<td><a href='@Helpers.CreatePlayerUrl(entry.Name)'>@entry.Name</a></td>
					<td data-sort="@Helpers.RemoveDecimalMarker(entry.Rating)">@entry.Rating</td>
					<td>@entry.GamesPlayed</td>
				</tr>
			}
		</tbody>
	</table>

	<h2>Statistics across rulesets</h2>
	<table>
		@foreach (var stat in Stats.GlobalStatistics)
		{
			<tr>
				<td>@stat.Title</td>
				<td>@stat.Value</td>
			</tr>
		}
	</table>
	<Footer />
</body>
</html>

@code {
	[Parameter]
	public StatisticsResult Stats { get; set; } = null!;

	[Parameter]
	public DateOnly NewestGameDate { get; set; }
}