@using MahjongDkStatsCalculators
@using MahjongDkStats.CLI
<!DOCTYPE html>
<html lang="en">
<Header />
<body>
	<h1>Mahjong Danmark - Statistics</h1>
	<p style="text-align:right;">Data from @NewestGameDate</p>
	<h2>MCR</h2>
	<table>
		@foreach (var stat in Stats.McrStatistics)
		{
			<tr>
				<td>@stat.Title</td>
				<td>@stat.Value</td>
			</tr>
		}
	</table>

	<h3>Rating List<sup><dfn style="font-style:normal; font-size: 1em; cursor: help;" title="Players are included if they have a game played within the last 12 months.">&nbsp;?</dfn></sup></h3>
	<table>
		<thead>
			<tr>
				<td>#</td>
				<td>Name</td>
				<td>Rating</td>
				<td>Games played</td>
			</tr>
		</thead>
		<tbody>
		@foreach (var entry in Stats.McrRatingList)
		{
			<tr>
				<td>@entry.Position</td>
				<td><a href='@CreatePlayerUrl(entry.Name)'>@entry.Name</a></td>
				<td>@entry.Rating</td>
				<td>@entry.GamesPlayed</td>
			</tr>
		}
		</tbody>
	</table>

	<h2>Riichi</h2>
	<table>
		@foreach (var stat in Stats.RiichiStatistics)
		{
			<tr>
				<td>@stat.Title</td>
				<td>@stat.Value</td>
			</tr>
		}
	</table>

	<h3>Rating List<sup><dfn style="font-style:normal; font-size: 1em; cursor: help;" title="Players are included if they have a game played within the last 12 months.">&nbsp;?</dfn></sup></h3>
	<table>
		<thead>
			<tr>
				<td>#</td>
				<td>Name</td>
				<td>Rating</td>
				<td>Games played</td>
			</tr>
		</thead>
		<tbody>
			@foreach (var entry in Stats.RiichiRatingList)
			{
				<tr>
					<td>@entry.Position</td>
					<td><a href='@CreatePlayerUrl(entry.Name)'>@entry.Name</a></td>
					<td>@entry.Rating</td>
					<td>@entry.GamesPlayed</td>
				</tr>
			}
		</tbody>
	</table>

	<h2>Global statistics across variants</h2>
	<table>
		@foreach (var stat in Stats.GlobalStatistics)
		{
			<tr>
				<td>@stat.Title</td>
				<td>@stat.Value</td>
			</tr>
		}
	</table>
</body>
</html>

@code {
	[Parameter]
	public StatisticsResult Stats { get; set; } = null!;

	[Parameter]
	public DateOnly NewestGameDate { get; set; }

	public string CreatePlayerUrl(string name)
	{
		return MahjongDkStats.CLI.NameSanitizer.SanitizeForUrlUsage(name) + ".html";
	}
}