@using MahjongDkStatsCalculators

<html>
<title>Mahjong Danmark - Statistics</title>
<head>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sakura.css/css/sakura.css" type="text/css">
</head>
<body>
	<h1>Mahjong Danmark - Statistics</h1>

	<h2>Global (across variants)</h2>
	<table>
		@foreach (var stat in Stats.GlobalStatistics)
		{
			<tr>
				<td>@stat.Title</td>
				<td>@stat.Value</td>
			</tr>
		}
	</table>

	<img src="img/plot.png" />
	<p> An example plot that might show something useful in the future</p>

	<h2>MCR</h2>
	<table>
		@foreach (var stat in Stats.McrStatistics)
		{
			<tr>
				<td>@stat.Title</td>
				<td>@stat.Value</td>
			</tr>
		}
	</table>

	<h2>Riichi</h2>
	<table>
		@foreach (var stat in Stats.RiichiStatistics)
		{
			<tr>
				<td>@stat.Title</td>
				<td>@stat.Value</td>
			</tr>
		}
	</table>

	<h2>Active Players (last year)</h2>
	<table>
		<thead>
			<td>Name</td>
			<td>Game count</td>
			<td>Latest game</td>
		</thead>
		@foreach (var player in Stats.PlayerStatistics)
		{
			<tr>
				<td>@player.Name</td>
				<td>@player.Statistics.First().Value</td>
				<td>@player.Statistics.Skip(1).First().Value</td>
			</tr>
		}
	</table>
</body>
</html>

@code {
	[Parameter]
	public StatisticsResult Stats { get; set; } = null!;
}