@using MahjongDkStatsCalculators
<!DOCTYPE html>
<html lang="en">
<Header />
<body>
    <Logo />
    <h1 class="banner heading">Game Statistics of Mahjong Danmark</h1>
    <div class="page"><p class="right">Last Updated: @Stats.NewestGameDate</p></div>
    <Heading Text="Overview" />
    <section class="statistics">
        <div>
            <img class="stat-icon" src="img/games.png">
            <p class="stat-value">@Stats.GlobalStatistics.TotalGameCount</p>
            <p class="stat-name">Games</p>
        </div>
        <div>
            <img class="stat-icon" src="img/winds.jpg">
            <p class="stat-value">@Stats.GlobalStatistics.TotalWindsCount</p>
            <p class="stat-name">Winds</p>
        </div>
        <div>
            <img class="stat-icon" src="img/hands.jpg">
            <p class="stat-value">@Stats.GlobalStatistics.TotalHandsCount</p>
            <p class="stat-name">Hands</p>
        </div>
        <div>
            <img class="stat-icon" src="img/players.png">
            <p class="stat-value">@Stats.GlobalStatistics.TotalPlayerCount</p>
            <p class="stat-name">Players</p>
        </div>
        <div>
            <img class="stat-icon" src="img/active-players.png">
            <p class="stat-value">@Stats.GlobalStatistics.ActivePlayerCount</p>
            <p class="stat-name">Active players</p>
        </div>
        <div>
            <img class="stat-icon" src="img/clock.jpg">
            <p class="stat-value">@(Math.Round(Stats.GlobalStatistics.TimeSpentShufflingAndBuilding.TotalDays, 2))</p>
            <p class="stat-name">Days spent building walls</p>
        </div>
        <div>
            <img class="stat-icon" src="img/wall.png">
            <p class="stat-value">@(Math.Round(Stats.GlobalStatistics.TotalWallLengthMeters / 1000m, 2))km</p>
            <p class="stat-name">Walls built</p>
        </div>
    </section>
    <Heading Text="Best scores and ratings" />
    <section class="rulesets-overview">
        <section class="ruleset-overview mcr">
            <h4 class="heading center">MCR</h4>
            <table>
                <tbody>
                    <tr>
                        <td>Best game: <PlayerLink Name="@Stats.McrRecords.RecordScore.PlayerName" Shorten="true" /></td>
                        <td class="right">@(Stats.McrRecords.RecordScore.RecordValue)</td>
                    </tr>
                    <tr>
                        <td>Best recent game: <PlayerLink Name="@Stats.McrRecords.RecordRecentScore.PlayerName" Shorten="true" /></td>
                        <td class="right">@(Stats.McrRecords.RecordRecentScore.RecordValue)</td>
                    </tr>
                    <tr>
                        <td>Best rating: <PlayerLink Name="@Stats.McrRecords.RecordRating.PlayerName" Shorten="true" /></td>
                        <td class="right">@(Stats.McrRecords.RecordRating.RecordValue)</td>
                    </tr>
                    <tr>
                        <td>Best recent rating: <PlayerLink Name="@Stats.McrRecords.RecordRecentRating.PlayerName" Shorten="true" /></td>
                        <td class="right">@(Stats.McrRecords.RecordRecentRating.RecordValue)</td>
                    </tr>
                </tbody>
            </table>
        </section>
        <section class="ruleset-overview riichi">
            <h4 class="heading center">Riichi</h4>
            <table>
                <tbody>
                    <tr>
                        <td>Best game: <PlayerLink Name="@Stats.RiichiRecords.RecordScore.PlayerName" Shorten="true" /></td>
                        <td class="right">@(Stats.RiichiRecords.RecordScore.RecordValue)</td>
                    </tr>
                    <tr>
                        <td>Best recent game: <PlayerLink Name="@Stats.RiichiRecords.RecordRecentScore.PlayerName" Shorten="true" /></td>
                        <td class="right">@(Stats.RiichiRecords.RecordRecentScore.RecordValue)</td>
                    </tr>
                    <tr>
                        <td>Best rating: <PlayerLink Name="@Stats.RiichiRecords.RecordRating.PlayerName" Shorten="true" /></td>
                        <td class="right">@(Stats.RiichiRecords.RecordRating.RecordValue)</td>
                    </tr>
                    <tr>
                        <td>Best recent rating: <PlayerLink Name="@Stats.RiichiRecords.RecordRecentRating.PlayerName" Shorten="true" /></td>
                        <td class="right">@(Stats.RiichiRecords.RecordRecentRating.RecordValue)</td>
                    </tr>
                </tbody>
            </table>
        </section>
    </section>

    <Heading Text="MCR Ratinglist - Active Members" />
    <section class="player-table sortable">
        <table class="sortable">
            <thead>
                <tr>
                    <th aria-sort="ascending">#</th>
                    <th>Name</th>
                    <th>Rating</th>
                    <th>S/w</th>
                    <th>Games</th>
                    <th>Winds</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var entry in Stats.McrRatingList)
                {
                    <tr>
                        <td class="right">@entry.Position</td>
                        <td><PlayerLink Name="@entry.Name" MaxLength="32" /></td>
                        <td class="right" data-sort="@Helpers.RemoveDecimalMarker(entry.Rating)">@entry.Rating</td>
                        <td class="right" data-sort="@Helpers.RemoveDecimalMarker(entry.ScorePerWind)">@entry.ScorePerWind</td>
                        <td class="right">@entry.GameCount</td>
                        <td class="right">@entry.WindCount</td>
                    </tr>
                }
            </tbody>
        </table>
    </section>
    <Heading Text="Riichi Ratinglist - Active Members" />
    <section class="player-table sortable">
        <table class="sortable">
            <thead>
                <tr>
                    <th aria-sort="ascending">#</th>
                    <th>Name</th>
                    <th>Rating</th>
                    <th>S/w</th>
                    <th>Games</th>
                    <th>Winds</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var entry in Stats.RiichiRatingList)
                {
                    <tr>
                        <td class="right">@entry.Position</td>
                        <td><PlayerLink Name="@entry.Name" MaxLength="32" /></td>
                        <td class="right" data-sort="@Helpers.RemoveDecimalMarker(entry.Rating)">@entry.Rating</td>
                        <td class="right" data-sort="@Helpers.RemoveDecimalMarker(entry.ScorePerWind)">@entry.ScorePerWind</td>
                        <td class="right">@entry.GameCount</td>
                        <td class="right">@entry.WindCount</td>
                    </tr>
                }
            </tbody>
        </table>
    </section>

    <Heading Text="Historical activity" />
    <section>
        <img src="img/games-per-ruleset-plot.png" />
        <img src="img/players-per-ruleset-plot.png" />
    </section>
    <Footer />
</body>
</html>

@code {
    [Parameter]
    public StatisticsResult Stats { get; set; } = null!;
}