@using MahjongDkStatsCalculators
<!DOCTYPE html>
<html lang="en">
<Header />
<body>
	<Logo />
	<h1 class="banner heading">Statistics for @PlayerStats.Name</h1>
	<div class="page">
		<a href="index.html">Back to Overview</a>
	</div>
	<section>
		<PlayerPageRulesetSection PlayerName="@PlayerStats.Name" RulesetStatistics="@PlayerStats.McrStatistics" />
	</section>
	<section>
		<PlayerPageRulesetSection PlayerName="@PlayerStats.Name" RulesetStatistics="@PlayerStats.RiichiStatistics" />
	</section>
	<div class="page">
		<a href="index.html">Back to Overview</a>
	</div>
	<Footer />
</body>
</html>

@code {
	[Parameter]
	public PlayerStatistics PlayerStats { get; set; } = null!;
}