@using MahjongDkStatsCalculators

<title>Mahjong Danmark - Statistics for @PlayerStats.Name</title>
<head>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sakura.css/css/sakura.css" type="text/css">
</head>

<h1>Statistics for @PlayerStats.Name</h1>

<h2>MCR</h2>

@if (PlayerStats.McrStatistics.GameCount > 0)
{	
	<table>
		<tr>
			<td>Game Count</td>
			<td>@PlayerStats.McrStatistics.GameCount</td>
		</tr>
		<tr>
			<td>Max Rating</td>
			<td>@PlayerStats.McrStatistics.MaxRating</td>
		</tr>
	</table>
	<img src="img/@CreateMcrPlotUrl(PlayerStats)" />
} else
{
	<p>No MCR games on record</p>
}

<h2>Riichi</h2>
@if (PlayerStats.RiichiStatistics.GameCount > 0)
{
	<table>
	<tr>
		<td>Game Count</td>
		<td>@PlayerStats.RiichiStatistics.GameCount</td>
	</tr>
	<tr>
		<td>Max Rating</td>
		<td>@PlayerStats.RiichiStatistics.MaxRating</td>
	</tr>
</table>
<img src="img/@CreateRiichiPlotUrl(PlayerStats)" />
} else 
{
	<p>No Riichi games on record</p>
}

@code {
	[Parameter]
	public PlayerStatistics PlayerStats { get; set; } = null!;

	public string CreateMcrPlotUrl(PlayerStatistics p)
	{
		return MahjongDkStats.CLI.NameSanitizer.SanitizeForUrlUsage(p.Name) + "-mcr-rating.png";
	}

	public string CreateRiichiPlotUrl(PlayerStatistics p)
	{
		return MahjongDkStats.CLI.NameSanitizer.SanitizeForUrlUsage(p.Name) + "-riichi-rating.png";
	}
}