@using MahjongDkStatsCalculators
<!DOCTYPE html>
<html lang="en">
<Header />
<body>
	<a href="https://mahjong.dk"><img class="logo" src="img/mjdk-logo.jpg"></a>
	<h1 class="banner heading">Statistics for @PlayerStats.Name</h1>
	<section>
		<PlayerPageRulesetSection PlayerName="@PlayerStats.Name" RulesetStatistics="@PlayerStats.McrStatistics" />
	</section>
	<section>
		<PlayerPageRulesetSection PlayerName="@PlayerStats.Name" RulesetStatistics="@PlayerStats.RiichiStatistics" />
	</section>
	<Footer />
</body>
</html>

@code {
	[Parameter]
	public PlayerStatistics PlayerStats { get; set; } = null!;
}