@using MahjongDkStatsCalculators

<h2>@Helpers.GetRulesetName(RulesetStatistics.Ruleset)</h2>

@if (RulesetStatistics.GameCount > 0)
{	
	<table>
		<tr>
			<td>Games played</td>
			<td>@RulesetStatistics.GameCount</td>
		</tr>
		<tr>
			<td>Highest rating ever</td>
			<td>@RulesetStatistics.MaxRating</td>
		</tr>
		<tr>
			<td>Score sum</td>
			<td>@RulesetStatistics.ScoreSum</td>
		</tr>
		<tr>
				<td>Longest winning streak<sup><dfn class="helptext" title="Consecutive games with positive score.">&nbsp;?</dfn></sup></td>
			<td>@RulesetStatistics.LongestWinningStreak</td>
		</tr>
		<tr>
			<td>Score per wind</td>
			<td>@RulesetStatistics.ScorePerWind</td>
		</tr>
	</table>
	<img src="img/@Helpers.CreatePlotUrl(@PlayerName, @RulesetStatistics.Ruleset)" />

	<h3>Latest games</h3>
	<table>
		<thead>
			<tr>
				<th>Date</th>
				<th>Diff.</th>
				<th>Winds</th>
				<th rowspan="7">Players</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var game in RulesetStatistics.GameHistory.TakeLast(10).OrderByDescending(g => g.Id))
			{
				<tr>
					<td>@game.DateOfGame</td>
					<td>@game.Difficulty</td>
					<td>@game.NumberOfWinds</td>
					@foreach(var player in game.Players)
					{
						<td class="single-line">
							<a href='@Helpers.CreatePlayerUrl(player.Name)'>@Helpers.ShortenName(player.Name)</a><br /> @player.Score
						</td>
					}
				</tr>
			}
		</tbody>
	</table>

	<h3>Head to Head statistics</h3>
	<table class="sortable">
		<thead>
			<tr>
				<th>Opponent</th>
				<th aria-sort="descending">Score sum</th>
				<th>Score / wind</th>
				<th>Games</th>
				<th>Winds</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var entry in RulesetStatistics.HeadToHeadStatistics)
			{
				<tr>
					<td><a href='@Helpers.CreatePlayerUrl(entry.OpponentName)'>@entry.OpponentName</a></td>
					<td>@entry.ScoreSumAgainst</td>
					<td data-sort="@Helpers.RemoveDecimalMarker(entry.ScorePerWindAgainst)">@entry.ScorePerWindAgainst</td>
					<td>@entry.GamesPlayedAgainst</td>
					<td>@entry.WindsPlayedAgainst</td>
				</tr>
			}
		</tbody>
	</table>
} else
{
	<p>No @Helpers.GetRulesetName(RulesetStatistics.Ruleset) games on record</p>
}

@code {
	[Parameter]
	public string PlayerName { get; set; } = null!;

	[Parameter]
	public PlayerRulesetStatistics RulesetStatistics { get; set; } = null!;
}

