@using MahjongDkStatsCalculators
<!DOCTYPE html>
<html lang="en">
<Header />
<body>
<h1>Statistics for @PlayerStats.Name</h1>

<PlayerPageRulesetSection PlayerName="@PlayerStats.Name" RulesetStatistics="@PlayerStats.McrStatistics" />

<PlayerPageRulesetSection PlayerName="@PlayerStats.Name" RulesetStatistics="@PlayerStats.RiichiStatistics" />

</body>
</html>

@code {
	[Parameter]
	public PlayerStatistics PlayerStats { get; set; } = null!;
}